* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:  #f4f4f4;
    color: #565656;
}

strong { 
    font-weight: 700; 
}

#colmar {
    color: #76323f;
    padding: 10px 0px;
    font-size: 24px;
}

#academy {
    color:#565656;
    padding: 10px 0px;
    font-size: 24px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #76323f;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    color: #423229;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: #423229;
}

h4 {
    font-size: 20px;
    color: #423229;
}

a {
    color: #76323f;
}

a:hover {
    color: #e4e2e2;
}

.container {
    max-width: 1200px;
    margin: auto;
}


                /*DESKTOP HEADER & NAV*/

 header .container {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    height: 64px;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 2;
}

header h4 {
    padding: 10px;
    height: 32px;
}

nav ul {
    padding: 0;
    margin: 0;
    float: right;
    text-transform: uppercase;
}
 
nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    padding: 16px;
    transition: color 0.2s linear;
}

nav li:nth-last-child(4n + 1) {
    font-weight: 700;
}

.logo {
    display: flex;
    float: left;
}

.logo img {
    width: 40px;
}

.wrapper {
    position: relative;
    padding-top: 64px;
    margin: auto;
}

              /*DESKTOP BANNER*/

.banner .container {
    background-color: #d7cec7;
    display: flex;
    justify-content: space-between;
    height: 550px;
}

.banner {
    position: relative;
    align-items: center;
    height: 550px;
    background-color: #d7cec7;
    margin: 0 auto;
}

.leftside {
    display: flex;
    width: 60%;
    padding: 32px 12px 32px 0px;
}

.leftside img {
    display: flex;
    width: 100%;
}

.rightside {
    position: relative;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 32px 12px 32px 10px;
    width: 40%;
    height: 550px;
}

.rightside h1, h2 {
    padding: 30px 0px;
}

button {
    background-color: #76323f;
    text-transform: uppercase;
    border: none;
    color: #f4f4f4;
    margin: 50px 0px;
    padding: 15px 15px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1.1px;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s linear,
    letter-spacing 0.3s ease-in;
}

button:hover {
    background-color: #81414d;
    letter-spacing: 2px;
    cursor: pointer;
}

              /*DESKTOP PRACTICE SECTION*/

.practice .container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.practice {
    position: relative;
    display: block;
    justify-content: space-between;
    height: 650px;
}

.leftbox {
    padding: 32px 12px 0px 0px;
    min-width: 60%;
}

.leftbox img {
    width: 100%;
}

.leftbox h2 {
    padding: 32px 0px 24px 0px;
}

.leftbox p {
    font-size: 16px;
    line-height: 20px;
}

span {
    font-size: 13px;
    position: relative;
    color: #000;
    top: 24px;
}

.rightbox {
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-left: 1px solid #d7cec7;
    align-items: center;
    flex-direction: column;
    min-width: 40%;
    height: 567px;
    top: 15px;
    left: 12px;
}

.rightbox .box {
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: background-color 0.2s linear;
}

.rightbox .box:hover {
    background-color: #d7cec7;
}

.rightbox .box img {
    width: 35%;
}

.rightbox .box a {
    font-weight: 700;
    color: #76323f;
    transition: color 0.2s linear;
}

.box a:hover {
    color: gray; 
}

.content {
    width: 65%;
    padding: 0px 16px;
    line-height: 22px;
}

#orientation, #campus {
    border-bottom: 1px #d7cec7 solid;
}

.rightbox p, a {
    padding: 8px 0px;
    font-size: 15px;
    text-decoration: none;
}

              /*DESKTOP START LEARNING SECTION*/

.start-learning .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #d7cec7;
}

.start-learning {
    position: relative;
    background-color: #d7cec7;
}

.start-learning img {
    width: 100%;
}

.start-learning h1 {
    position: relative;
    padding: 32px 0px;
    text-align: center;
}

.start-learning .box {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #d7cec7;
    flex-direction: column;
    margin: 0px 16px 32px 16px;
    transition: all .2s ease-in-out,
    background-color .2s ease-in-out;
}

.start-learning .box:hover {
    transform: scale(1.1);
    background-color: #f4f4f4;
    cursor: pointer;
}

.start-learning h3 {
    color: #76323f;
}

.box .text {
padding: 16px 16px;
font-size: 16px;
}

.box p {
    padding: 16px 0px;
}

              /*DESKTOP THESIS SECTION*/

.thesis .container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.thesis {
    position: relative;
    display: block;
    justify-content: space-between;
    height: 700px;
}

.thesis h1 {
    color: #423229;
    padding: 32px 0px 0px 0px;
    text-align: center;
}

.thesis h2 {
    padding: 16px 0px 24px 0px;
}

.thesis p {
    padding: 10px 0px;
    font-size: 16px;
    line-height: 20px;
}

.thesis-right {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 40%;
    top: 15px;
    left: 12px;
    height: 376px;
}

.thesis-right .box {
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: background-color 0.2s linear;
}

.thesis-right .box:hover {
    background-color: #d7cec7;
    cursor: pointer;
}

.thesis-right .box img {
    width: 35%;
}

video {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 16px;
    border-top: 1px solid #d7cec7;
}

footer p {
    display: flex;
    padding: 16px 24px;
    text-align: left;
}

footer a {
 display: inline; 
 text-decoration: none;
 padding: 0px 5px;
 transition: color 0.2s linear;
}

.terms {
    padding: 16px 24px 0px 0px;
}

footer a:hover {
    color: silver;
}

#mobile, .mobile-nav, .mobile-learning {
    display: none;
}


              /*ALL MOBILE PORTRAIT*/
@media screen and (max-width: 780px), (orientation: portrait) {
    

html {
    font-size: 16px;
}

#mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#desktop, .desk-nav, .logo, .start-learning, .banner, .practice {
    display: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 22px;
}

.container {
    max-width: 100%;
}

.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mobile-nav a {
    display: flex;
}

.mobile-nav img {
    width: 65px;
    height: 45px;
}

header {
    height: 64px;
}


              /*MOBILE BANNER SECTION*/

.mobile-banner {
    min-width: 100%;
    min-height: 550px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #d7cec7;
}

.mobile-banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 550px;
    background-color: #d7cec7;
}

.mobile-banner img {
    width: 100%;
    height: auto;
}

button {
    font-size: 20px;
    width: 90%;
    margin: 35px 0px;
    color: #fff;
}

.mobile-banner h1 {
    padding: 32px 16px;
}

.mobile-banner h3 {
    padding: 0px 16px;
}


              /*MOBILE PRACTICE SECTION*/

#lecture {
    background-color: #f4f4f4;
}

.mobile-practice {
    min-height: 1010px;
    width: 100%;
    border-bottom: #dcdcdc solid 1px;
}

.mobile-practice h3 {
    padding: 16px 16px;
}

.mobile-practice p {
    padding: 0px 0px 16px 16px;
}

.mobile-practice a {
    font-weight: 700;
    font-size: 18px;
    padding: 16px 0px 0px 16px;
}

.mobile-practice img {
    width: 100%;
}

.mobile-practice .box {
    min-width: 100%;
    padding: 32px;
}

.mobile-practice a {
    color: #76323f;
}

              /*MOBILE START LEARNING SECTION*/


.mobile-learning {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 650px;
    align-items: center;
    background-color: #d7cec7;
}

.mobile-learning h1 {
    padding: 32px 16px;
}

.mobile-learning a {
    color: #f4f4f4;
    font-size: 26px;
    font-weight: 400;
}

.mobile-learning .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 650px;
    padding: 0px 10px;
    min-width: 100%;
    background-color: #d7cec7;
}

.mobile-learning .box {
    width: 100%;
    height: 70px;
    margin: 8px;
    padding: 25px;
    background-color: #76323f;
}

#campus, #orientation {
    border-bottom: #e9e7e7 solid 1px;
    background-color: #f4f4f4;
}

              /*MOBILE THESIS SECTION*/

.mobile-thesis .container {
    display: inline-flex; 
    flex-direction: column;
    min-width: 100%;
    min-height: 350px;
    background-color: #f4f4f4;
}

.mobile-thesis {
    display: flex;
    flex-direction: column;
    border-top:    #e9e7e7 solid 1px;
    min-height: 350px;
    min-width: 100%;
    text-align: center;
    background-color: #f4f4f4;
}

.mobile-thesis h1 {
    color:#423229;
    padding: 32px 16px;
}

/*MOBILE FOOTER*/

.terms {
    display: none;
}

footer {
    height: 24px;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid  #e9e7e7;
}

footer p {
    padding: 16px;
    margin-top: 24px;
}
}